/*

*/
$center-namespace: l- !default;

/*
    1. This is a hack for IE11, otherwise the container goes as wide as the children in a row.
*/
.#{$center-namespace}center {
    &#{&} {
        display: flex;
        align-items: center;
        justify-content: center;
            
        width: 0; /* [1] */
        min-width: 100%; /* [1] */
    
        & > * {
            flex: 0 1 auto;
        }
    }
}