/*

*/

$badge-namespace: c- !default;

$theme-only: false !default;

// Note - no theme yet!

// We don't need this if we're only themeing the pattern:
@if $theme-only == false {

    .#{$badge-namespace}badge {

        /*
            1. For positioned pseudo elements, e.g. External indicator.
        */
        &#{&} {
            display: inline-block;
            vertical-align: middle;
            position: relative; /* [1] */
        }

            svg {
                max-width: 100%;
            }

            img {
                /*
                    1. This is to provide positioning context for the ::after pseudo-element.
                    2. This is so a broken image is still 100%.
                    3. Center in container.
                */

                position: relative; /* [1] */

                display: block; /* [2] */

                height: auto;
                width: auto;

                max-width: 100%;

                border-style: none;
                
                background-color: transparent;

                margin: 0 auto; /* [3] */

            }

        &#{&}--limit-height,
        &#{&}--limit-height--8 {
            img {
                max-height: 8rem;
            }
        }
        
        &#{&}--limit-height--4 {
            img {
                max-height: 4rem;
            }
        }
        
        &#{&}--limit-height--6 {
            img {
                max-height: 6rem;
            }
        }
        
        &#{&}--limit-height--10 {
            img {
                max-height: 10rem;
            }
        }
        
        &#{&}--limit-height--12 {
            img {
                max-height: 12rem;
            }
        }
        

        &#{&}--small {
            height: 2em;
            width: 2em;

            & img {
                width: 100%;
                height: 100%;
            }
        }
        /*
        &#{&}--circle {
            border-radius: 50%;
            overflow: hidden;
        }

        &#{&}--rounded {
            border-radius: 0.2em;
            overflow: hidden;
        }
        */

        &#{&}--decorated {

            // Currently setting colour via inline style, so can't lighten it. Fake this by using a
            // pseudo element for the background:
            // Also href borders mess with these border settings, so use pseudo element for that
            // too.
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: -1em;
                top: -1em;
                right: -1em;
                bottom: -1em;

                opacity: 0.05;
                background-color: currentColor;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: -1em;
                top: -1em;
                right: -1em;
                bottom: -1em;

                border-width: 4px;
                border-style: solid;
                border-color: currentColor;
            }
        }
    }

    a[href].#{$badge-namespace}badge {
        border: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        &:hover,
        &:active,
        &:focus {
            border: 0;
            box-shadow: 0 0 0 0.6rem #fff, 0 0 0 1.2rem rgba(0,0,0,.2);
        }
    }

    a[href][rel=external].#{$badge-namespace}badge::after {
        position: absolute;
        right: -1em;
        top: -1em;
        width: 1.25em;
        height: 1.25em;
        display: block;
    }

    /*
        IE10-11

        1. IE11- seems to need this.
    */

    @media only all and (-ms-high-contrast: none), only all and (-ms-high-contrast: active) {

        .#{$badge-namespace}badge img {
            height: 100%; /* [1] */
        }

    }
}