/*

*/

$contact-list-namespace: c- !default;
$theme-namespace: t- !default;

$theme-only: false !default;

// Note - no theme yet!

// We don't need this if we're only themeing the pattern:
@if $theme-only == false {

    // Second selector is for user editor area.
    .#{$contact-list-namespace}contact-list {
        &#{&} {
            dt {
                display: none;
            }

            dd {
                margin-bottom: $sz-xs;
                position: relative;
                
                & > svg:first-child {
                    margin-left: -1.75em;
                    margin-top: 0.1em;
                    position: absolute;
                    
                    // Note this should be defined elsewhere on new template - probably as a mixin.
                    display: inline;
                    fill: none;
                    fill-opacity: 0;
                    stroke: currentColor;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    width: 1.25em;
                    height: 1.25em;
                    //margin: 0;
                    padding: 0;
                }
            }
        }

        // @TODO - this is a bit "magic number-y":
        // class is for legacy markup - should remove when possible.
        .icon {
            margin-left: -1.75em;
            margin-top: 0.1em;
            position: absolute;
        }
    }

    .#{$contact-list-namespace}contact-avatar {
        &#{&} {
            float: left;
            margin: 0.5em;
            width: 35%;
            min-width: 8em;
            max-width: 16em;
            
            //max-width: 100%;
            //width: calc((32em - 100%) * 1000);
            //min-width: 10em;
            
            border-radius: 99999px;
            overflow: hidden;
        }
    }

}